<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">×</button>
	<h4 class="modal-title ng-binding">CV</h4>
</div>
<div class="modal-body">
	<div class="q1">
		<div class="s-q">Bạn biết ngoại ngữ gì?</div>	
		<div>
			<input type="checkbox" id="1a" /> <label class="s-lbl">A. English</label>
			<input type="checkbox" id="1b" /> <label class="s-lbl">B. Japan</label>
			<input type="checkbox" id="1c" /> <label class="s-lbl">C. Order</label>
		</div>
		<div><button type="button" class="btn-next">Next >></button></div>
	</div>
	<div class="q2 hide">
		<div class="s-q">Trình độ tiếng anh?</div>
		<div>
			<input type="checkbox" id="2a" /> <label class="s-lbl">A. 300-500 toeic</label>
			<input type="checkbox" id="2b" /> <label class="s-lbl">B. 500-700 toeic</label>
			<input type="checkbox" id="2c" /> <label class="s-lbl">C. more 700 toeic</label>
		</div>
	</div>	
	<div class="q3 hide">
		<div class="s-q">Trình độ tiếng nhật?</div>
		<div>
			<input type="checkbox" id="3a" /> <label class="s-lbl"> A. N4</label>
			<input type="checkbox" id="3b" /> <label class="s-lbl">B. N3</label>
			<input type="checkbox" id="3c" /> <label class="s-lbl">C. N2</label>
			<input type="checkbox" id="3d" /> <label class="s-lbl">D. N1</label>
		</div>
	</div>
	<div class="q4 hide">
		<div class="s-q">Bằng cấp khác?</div>
		<div>
			<input type="text" id="4t" class="field" />
		</div>
	</div>
	<div class="q4 hide">
		<div><button type="button" class="btn-next">Finish</button></div>
	</div>
</div>