<div class="modal-body">
		<button type="button" class="close" ng-click="cancel()">×</button>
    <form class="form-horizontal">
		  <div class="form-group">
		    <div class="col-md-2">
				<br><br>
				<img width="130px" alt="" ng-src="{{company.imageUrl}}"> 
			</div>
			
			<div class="col-md-7">
				<h3>{{company.name}}</h3>
				<p>{{company.company}}</p>
				<p>{{company.address}}</p>
				<p>Work Location: {{company.position}}</p>
				<span>Salary: {{company.salary}}</span>
			</div>
			
			<div class="col-md-3">
				<br>
				<button id="apply" class="btn btn-apply">Apply Now</button><br>
				<button class="btn btn-apply btn-interested">I'm interested</button>
				<p style="color: #ccc;">319 Views Posted    &nbsp;   &nbsp;&nbsp;     1 days ago</p>
			</div>
		  </div>
		  <hr style="margin-bottom:0px">
		  <div class="form-group">
		    <div class="col-md-8 main-detail-left">
				<div class="col-md-12 bg-white detail-frame">
						<h3>Truc, What We Can Offer</h3>
						<span>Được hưởng lương, thưởng và các cơ chế khuyến khích hấp dẫn theo kết quả hoạt động kinh doanh</span>
				</div>
				<div class="col-md-12 bg-white detail-frame">
					<h3>You Should Be Best At </h3>
					<span>	Dịch Vụ Khách Hàng  Ngân Hàng  Quản Lý Khách Hàng </span>
				</div>
				<div class="col-md-12 bg-white detail-frame">
					<h3>What You Will Do</h3>
					<span>Chi tiết đăng trên trang web BIDV tại địa chỉ www.bidv.com.vn và http://tuyendung.bidv.com.vn.</span>
				</div>
				<div class="col-md-12 bg-white detail-frame">
					<h3>What You Are Good At</h3>
					<p><strong>HÌNH THỨC THI TUYỂN: </strong></p>
					<p>- Vòng 1: Sơ loại hồ sơ</p>
					<p>- Vòng 2: Thi viết nghiệp vụ </p>
					<p>- Vòng 3: Phỏng vấn trực tiếp và thực hành qua điện thoại</p>
					
					<p><strong>HỒ SƠ DỰ TUYỂN:</strong></p>
					<p>1. Đơn xin việc viết tay.</p>
					<p>2. Phiếu đăng ký dự tuyển, Trích ngang ứng viên (download trên trang web của BIDV tại địa chỉ www.bidv.com.vn và tuyendung.bidv.com.vn).</p>
					<p>3. Sơ yếu lý lịch (trong vòng 6 tháng gần nhất) có xác nhận của chính quyền địa phương; hoặc cơ quan nơi bố, mẹ công tác, hoặc cơ quan nơi thí sinh dự thi đang làm việc.</p>
					<p>6. Bản sao Giấy khai sinh, 3 ảnh mới nhất cỡ 4x6 (không nhận ảnh kỹ thuật số), 02 phong bì đã dán tem ghi rõ địa chỉ liên lạc.</p>
					<p>7. Giấy khám sức khỏe (trong vòng 06 tháng gần nhất).</p>
					
					<p><strong>THỜI GIAN NHẬN HỒ SƠ:</strong></p>
					<p>Từ ngày 19 - 25/11/2015 (Sáng từ 8h30 – 11h30, Chiều từ 13h30 – 17h, có thể ngừng nhận hồ sơ sớm hơn thời hạn nếu đã nhận đủ hồ sơ) </p>
					
					<p><strong>NƠI NHẬN HỒ SƠ:</strong></p>
					<p>Bộ phận Quản lý chất lượng - Trung tâm chăm sóc khách hàng - Ngân hàng TMCP Đầu tư và Phát triển Việt Nam, tầng 11 tháp A Vincom – Số 191 Bà Triệu – Hà Nội. </p>
					
					<p>Thí sinh trực tiếp đến nộp hồ sơ (không nhận hồ sơ nộp hộ hoặc gửi qua đường bưu điện).</p>
					<p>(Hội đồng tuyển dụng chỉ liên lạc với các ứng viên đạt yêu cầu tại vòng sơ tuyển hồ sơ. Không hoàn lại hồ sơ nếu không trúng tuyển)</p>
				</div>
				<div class="col-md-12 bg-white detail-frame">
					<h3>About Our Company</h3>
					<p>Ngân Hàng TMCP Đầu Tư Và Phát Triển Việt Nam</p>
					<p>Tháp BIDV, 35 Hàng Vôi, Hoàn Kiếm, Hà Nội</p>
					<p>Contact person: Hội đồng tuyển dụng</p>
					<p>Company size: 20,000-49,999</p>
					
					<p>Ngân hàng TMCP Đầu tư và Phát triển Việt Nam (BIDV) thông báo tuyển dụng vị trí 01 cộng tác viên làm nhiệm vụ triển khai các chiến dịch gọi ra (outbound) làm việc tại Trung tâm chăm sóc khách hàng, cụ thể như sau:</p>
				</div>
				 <hr>
				<div class="col-md-12 bg-white">
				
					<div class="col-md-12" style="padding-left: 0px">
						<div class="col-md-6 text-left"  style="padding-left: 0px">
							<h3>Reviews Company</h3>
						</div>
						<div class="col-md-6 text-right" style="padding-top: 20px">
							<a>View all ></a>
						</div>
					</div>
					
					<div>
						<div>
								<i class="fa fa-star fa-2x"></i>
								<i class="fa fa-star fa-2x"></i>
								<i class="fa fa-star fa-2x"></i>
								<i class="fa fa-star-o fa-2x"></i>
								<i class="fa fa-star-o fa-2x"></i>
								<strong style="font-size: 19px">&nbsp; Overall</strong>
							 </div> 
					 </div> 
					 <hr>
					  <div>
					  	<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<strong>&nbsp; Culture & Values</strong>
					 </div> 
					 <div>
					 	<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<strong>&nbsp; Work/Life Balance</strong>
					 </div> 
					 <div>
					 	<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<strong>&nbsp; Senior Management</strong>
					 </div> 
					 <div>
					 	<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<strong>&nbsp; Comp & Benefits</strong>
					 </div> 
					 <div>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<i class="fa fa-star-o fa-lg"></i>
						<strong>&nbsp; Career Opportunities</strong>
					 </div>
					 <br>
					 <form class="form-horizontal">
						  <div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">Review Title</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" id="inputEmail3" placeholder="">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">Pros</label>
						    <div class="col-sm-10">
						      <textarea class="form-control" rows="3" placeholder="Share some of the best reasons to work here" rows="5"></textarea>
						    </div>
						  </div>
						  
						  <div class="form-group">
						    <label for="inputPassword3" class="col-sm-2 control-label">Cons</label>
						    <div class="col-sm-10">
						      <textarea class="form-control" rows="3" placeholder="Share some of the downsides of working here" rows="5"></textarea>
						    </div>
						  </div>
						  
						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <button type="submit" class="btn btn-default btn-send-comment" ng-click="sendMessage()">Send</button>
						    </div>
						  </div>
						</form>
						<hr style="border: 1px solid #eee;">
						<div class="commnent col-md-12">
							<div>
								<p class="date">Nov 16, 2015</p>
							</div>
							<div class="col-md-1" style="padding: 0px;margin-left: -15px;">
								<img alt="" src="assets/img/converse-squarelogo.png"> 
							</div>
							<div class="col-md-11">
								<h4><strong>“Seasonal”</strong></h4>
								<div>
									<i class="fa fa-star fa-lg"></i>
									<i class="fa fa-star fa-lg"></i>
									<i class="fa fa-star fa-lg"></i>
									<i class="fa fa-star-o fa-lg"></i>
									<i class="fa fa-star-o fa-lg"></i>
								 </div>
								<p>I worked at Converse part-time (Less than a year)</p>
								<p><strong>Pros</strong></p>
								<p>Everyone is friendly, fun, and chill Fun working environment</p>
								<p><strong>Cons</strong></p>
								<p>Shifting and restocking shoe boxes are a pain Inconsistent weekly schedules Back storage was a mess and it was hard to find some specific designs</p>
								<p>Advice to Management</p>
								<p>Need to properly train new employees. There were too many things and situations I didn't know how to handle and always had to ask.</p>
							</div>
						</div>
						
						<hr style="border: 1px solid #eee;">
						
						<div class="commnent col-md-12">
							<div>
								<p class="date">Nov 7, 2015</p>
							</div>
							<div class="col-md-1" style="padding: 0px;margin-left: -15px;">
								<img alt="" src="assets/img/converse-squarelogo.png"> 
							</div>
							<div class="col-md-11">
								<h4><strong>“Great brand, poor morale ”</strong></h4>
								<div>
									<i class="fa fa-star fa-lg"></i>
									<i class="fa fa-star fa-lg"></i>
									<i class="fa fa-star fa-lg"></i>
									<i class="fa fa-star-o fa-lg"></i>
									<i class="fa fa-star-o fa-lg"></i>
								 </div> 
								<p>I worked at Converse part-time (Less than a year)</p>
								<p><strong>Pros</strong></p>
								<p>Great brand heritage, coveted icon and good benefits. Retailers want your product in their stores.	</p>
								<p><strong>Cons</strong></p>
								<p>Senior management has their favorites.</p>
							</div>
						</div>
				</div>
			</div>
			<div class="col-md-4 main-detail-right">
				<div class="col-md-12 bg-white  top20" style="padding: 15px">
						<span>This job matches 0% your profile Powered by MATCHINGSCORE</span>
				</div>
				<hr>
				<div class="col-md-12 bg-white  top20">
						<h3>Truc, Consider To</h3>
						<p>Truc, Consider To</p>
						<p>How to get promoted</p>
						<p>Evaluate your salary</p>
						<p>Save this job</p>
						<p>Email me similar jobs</p>
						<p>Refer to a friend</p>
						<p>Share on   </p>
				</div>
				<hr>
				<div class="col-md-12 bg-white  top20">
						<h3>Summary Job Details</h3>
						<p>Job Level</p>
						<p>Experienced (Non-Manager)</p>
						<p>Job Categories</p>
						<p>Banking</p>
						<p>Customer Service</p>
						<p>Sales</p>
						<p>Preferred Language</p>
						<p>Any</p>
				</div>
			</div>
		  </div>
		</form>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

